#header, #content {
  font-family: sans-serif !important;
  font-size: 18px !important; }

#header a, #content a {
  color: #EC5189; }

#back {
  font-size: 20px;
  float: left; }

#header, #content {
  border-bottom: dotted grey;
  border-width: 6px;
  padding-bottom: 25px; }
  #header h2, #content h2 {
    color: grey;
    font-weight: 300;
    text-align: right;
    font-size: 20px; }

#header img {
  display: block;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 10px; }

#float img {
  margin: 10px;
  float: right; }

#content p {
  padding: 5px;
  line-height: 26px;
  letter-spacing: 0.5px;
  word-spacing: 2px; }
#content li {
  list-style: initial; }
#content img {
  display: block; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around; }
  .flex > div {
    width: 50%;
    outline: 1px solid grey;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    flex-shrink: 1;
    -ms-flex-negative: 1;
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    flex-basis: auto;
    -ms-flex-preferred-size: auto; }

#shop {
  margin: auto;
  text-align: center;
  background-color: black;
  width: 250px;
  height: 45px;
  border-radius: 15px;
  display: block; }
  #shop a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 4px; }

.box {
  width: 40%;
  background-color: white;
  padding: 0px;
  align-self: stretch;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  font-size: 14px; }
  .box span {
    font-style: italic;
    color: #aaa; }
  .box img {
    float: left;
    padding: 0 10px 20px 20px; }
  .box h3 {
    margin: 0px; }
  .box p {
    height: 181px;
    margin: 0px;
    color: grey;
    font-weight: 500;
    line-height: 20px !important;
    letter-spacing: 0.4px !important;
    word-spacing: 1.5px !important; }

.left:after {
  content: "";
  height: 2px;
  background: linear-gradient(to right, transparent 0%, #939393 50%);
  display: block;
  margin-bottom: 10px;
  margin-top: 10px; }

.right:after {
  content: "";
  height: 2px;
  background: linear-gradient(to right, #939393 50%, transparent 100%);
  display: block;
  margin-bottom: 10px;
  margin-top: 10px; }

.left {
  border-right: 2px solid #aaa; }

.cbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 6500px;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -ms-flex-align: baseline;
  padding: 20px 0;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start; }

/*# sourceMappingURL=catpage.css.map */
