html {
  width: 100%;
  height: 100%; }

.category-title h1 {
  display: none; }

.cat-table {
  border: 11px solid #ECEBE7;
  font-family: "proxima-nova" !important;
  font-size: 14px;
  color: #696768;
  padding: 5px;
  width: 800px;
  clear: both; }
  .cat-table h2 {
    text-transform: none;
    font-weight: normal;
    font-size: 16px;
    font-style: normal; }

.short-category {
  padding-top: 0px !important; }

.landingbtn {
  background-color: #EC5189;
  border: 1px;
  border-style: solid;
  border-color: pink;
  width: 323px;
  height: 31px;
  text-size: 24px; }
  .landingbtn a {
    color: white;
    font-size: 16px;
    font-family: "proxima-nova" !important;
    text-decoration: none;
    display: block;
    width: 100%;
    padding-top: 5px;
    height: 100%;
    text-align: center; }

.pinkbarmenu li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  background-color: #EC5189;
  padding: 0px;
  margin-right: 1px;
  text-align: center;
  vertical-align: center;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  -webkit-box-orient: row nowrap;
  -moz-box-orient: row nowrap;
  box-orient: row nowrap;
  -webkit-flex-direction: row nowrap;
  -moz-flex-direction: row nowrap;
  flex-direction: row nowrap;
  -ms-flex-direction: row nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  align-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  flex-flow: row;
  color: white; }
  .pinkbarmenu li:last-child {
    margin-right: 0px; }
  .pinkbarmenu li:hover {
    background-color: pink; }
.pinkbarmenu a {
  margin-left: -7px;
  padding: 6px;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  text-transform: uppercase; }
.pinkbarmenu ul {
  padding: 1px;
  box-sizing: border-box;
  width: 800px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EC5189;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 18px;
  height: 40px; }

#cathead {
  width: 800px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

.desc {
  float: right;
  width: 418px;
  margin: 0px;
  padding: 20px;
  display: inline-block; }

.video {
  padding: 10px;
  float: left;
  width: 350px;
  margin: 0px;
  display: inline-block; }

.container {
  box-sizing: border-box;
  width: 800px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row; }

/*# sourceMappingURL=landing.css.map */
